@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.pokemon-card {
    width: 200px;
    height: 300px;
    font-family: 'Press Start 2P';
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pokemon-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.pokemon-card .name {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 5px;
}

.pokemon-card .type {
    font-size: 5px;
    color: #888;
}
