
.Cv{
  text-align: center;
}

body{
  background-image: url(/src/img/background.jpg);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff56c4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff56c4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.footer {
  height: 50px;
  line-height: 50px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(227, 158, 248, 0.848);
}

@media (max-width: 768px) {
  .footer {
    height: 100%;
    line-height: 40px;
    font-size: 8px;
  }
}

@media (max-width: 480px) {
  .footer {
    height: 100%;
    line-height: 40px;
    font-size: 8px;
  }
}


.Cv-logo {
  height: 100px;
  pointer-events: none;
}

  /* @media (prefers-reduced-motion: no-preference) {
    .Cv-logo {
      animation: Cv-logo-spin infinite 20s linear;
    }
  } */

.Cv-header {
  background: rgb(194,104,255);
  background: radial-gradient(circle, rgba(194,104,255,1) 0%, rgb(242, 184, 230) 100%);
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  
  @media (max-width: 768px) {
    font-size: calc(100px + 2vmin);
  }

  @media (max-width: 480px) {
    font-size: calc(25px + 2vmin);
  }
  color: rgb(0, 0, 0);
  font-family: 'Rubik Scribble', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');

@keyframes Cv-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


